# Android Studio / IntelliJ
.idea/
*.iml
local.properties
.DS_Store

# Gradle y compilaciones
.gradle/
.kotlin/
build/
**/build/

# Xcode
iosApp/iosApp.xcodeproj/xcuserdata/
iosApp/iosApp.xcworkspace/xcuserdata/
